<%@ include file="header.jsp"%>

<style>

    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f7fa;
        text-align: center;
    }


    .message-container {
        width: 80%;
        margin: auto;
        text-align: center;

    }


    .message-text {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }


    .view-teachers-link {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        padding: 15px 30px;
        border-radius: 50px;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

    /* Link hover effect */
    .view-teachers-link:hover {
        background-color: #0056b3;
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2);
    }


    footer {

        padding: 12px 0;
        text-align: center;
        color: black;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
</style>

<%@ include file="footer.jsp"%>